<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Privacy — <%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <main>
      <h1>Privacy — <a href="/"><%= htmlWebpackPlugin.options.title %></a></h1>
      <p><%= htmlWebpackPlugin.options.title %> uses hosting service by Vercel, a United States Delaware corporation.
        <a href="https://vercel.com/legal/privacy-policy#customers">Vercel's privacy policy can be found here.</a>
        <%= htmlWebpackPlugin.options.title %> does not have access to request-level access logs retained by Vercel, and does not have access to these personal data if any.</p>
      <p><%= htmlWebpackPlugin.options.title %> uses map service by Mapbox, a United States Delaware corporation.
        <a href="https://www.mapbox.com/legal/privacy/">Mapbox's privacy policy can be found here.</a>
        <%= htmlWebpackPlugin.options.title %> does not have access to request-level access logs retained by Mapbox, and does not have access to these personal data if any.</p>
      <p><%= htmlWebpackPlugin.options.title %> uses analytics service by Sentry, a United States Delaware corporation.
        <a href="https://sentry.io/privacy/">Sentry's privacy policy can be found here.</a>
        <%= htmlWebpackPlugin.options.title %> has access to IP address, user agent string, error reporting and performance telemetry within the browser sandbox,
        only during an application error, or on a percentage of requests when performance telemetry is on.
        These data are retained for 30 days only for service improvement purpose, subject to human review in the United States.
        We do not transfer these data to third party other than Sentry.
        For further inquiry, please e-mail <a href="mailto:mbtaparking@phy25.com">mbtaparking@phy25.com</a>.</p>
      <p><%= htmlWebpackPlugin.options.title %> contains hyperlinks to third-party websites, including MBTA, and Google Maps.
        <%= htmlWebpackPlugin.options.title %> is not affliated with these external websites.
        By visiting third-party websites through hyperlinks, different privacy policies may apply.</p>
    </main>
  </body>
</html>